.image-container {
  border: var(--color-light-5) 1px solid;
  text-align: center;
  margin: 0;
  width: 100%;
  position: relative;
}

.image-price-background {
  position: absolute;
  border-top: 3.5rem solid transparent;
  border-left: 5.5rem solid transparent;
  border-right: 4.5rem solid transparent;
  border-bottom: 4.5rem solid transparent;
  border-top-color: var(--color-light-1);
  border-left-color: var(--color-light-1);
}

.image-price {
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;
}

.image-container > img {
  width: 100%;
}

figcaption {
  padding: 1.3rem;
}

.image-title {
  margin: 0 0 0.1rem 0;
  font-weight: 400;
}

.author-label {
  color: var(--color-dark-1);
  margin-right: 0.3rem;
}

@media (max-width: 1280px) {
  .image-grid {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 5%;
  }
}

@media (max-width: 700px) {
  .image-grid {
    grid-template-columns: 1fr;
    margin: 0 1%;
  }
}
